Repository HighlanderLab/tskitr: changes, and which pre-commit hooks are due for each by the changed paths.
All: air-format, jarl-lint, clang-format, clang-tidy

air-format:
  name: air format
  entry: RcppTskit/tools/run-local-tool.sh air format .
  language: system
  pass_filenames: false

jarl-lint:
  name: jarl lint
  entry: RcppTskit/tools/run-local-tool.sh jarl check .
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format -i --style=file
  language: system

clang-tidy:
  name: clang-tidy for RcppTskit
  entry: python RcppTskit/tools/clang-tidy.py
  language: python

Fixing vignette not found
  .pre-commit-config.yaml
  README.md
  RcppTskit/R/RcppTskit-package.R
  RcppTskit/man/RcppTskit-package.Rd
  RcppTskit/tools/run-local-tool.sh
  RcppTskit/vignettes/RcppTskit_intro.qmd
Due: air-format, jarl-lint

Add doi links to README.md and update permissions in AGENTS.md Fixes #88
  AGENTS.md
  README.md
Due: none

Fixing URLs and display Fixes #90 #88
  README.md
  RcppTskit/vignettes/RcppTskit_intro.qmd
Due: air-format, jarl-lint

Fixing other files related to tagging release 0.2.0
  AGENTS.md
  README.md
  RcppTskit/DESCRIPTION
  RcppTskit/notes_pkg_dev.Rmd
Due: air-format, jarl-lint

Public headers and ptr --> xptr
  RcppTskit/DESCRIPTION
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/Class-TreeSequence.R
  RcppTskit/R/RcppExports.R
  RcppTskit/R/RcppTskit.R
  RcppTskit/inst/include/RcppTskit.hpp
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/notes_pkg_dev.Rmd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/src/tests.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/tests/testthat/test_cpp_public_api.R
  RcppTskit/tests/testthat/test_load_summary_and_dump.R
  RcppTskit/tests/testthat/test_r_to_py_and_py_to_r.R
  RcppTskit/vignettes/RcppTskit_intro.qmd
Due: air-format, jarl-lint, clang-format, clang-tidy

Added build/drop index and renamed low-level R/C++ API Fixes #67 #98
  .github/workflows/document.yaml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  RcppTskit/DESCRIPTION
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/Class-TreeSequence.R
  RcppTskit/R/RcppExports.R
  RcppTskit/R/RcppTskit-package.R
  RcppTskit/R/RcppTskit.R
  RcppTskit/inst/include/RcppTskit.hpp
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/inst/include/tskit/core.h
  RcppTskit/man/RcppTskit-package.Rd
  RcppTskit/man/TableCollection.Rd
  RcppTskit/man/TreeSequence.Rd
  RcppTskit/notes_pkg_dev.Rmd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/src/tests.cpp
  RcppTskit/src/tests_c.c
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/tests/testthat/test_TreeSequence.R
  RcppTskit/tests/testthat/test_cpp_public_api.R
  RcppTskit/tests/testthat/test_load_summary_and_dump.R
  RcppTskit/tests/testthat/test_r_to_py_and_py_to_r.R
  RcppTskit/tools/check_sync_between_cpp_and_hpp.R
  RcppTskit/tools/clang_tidy.py
  RcppTskit/tools/run_local_tool.sh
  RcppTskit/vignettes/RcppTskit_intro.qmd
Due: air-format, jarl-lint, clang-format, clang-tidy

Address that tsk_size_t is uint64_t Fixes #108
  RcppTskit/DESCRIPTION
  RcppTskit/NAMESPACE
  RcppTskit/NEWS.md
  RcppTskit/R/RcppExports.R
  RcppTskit/R/RcppTskit-package.R
  RcppTskit/R/RcppTskit.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/tests/testthat/test_load_summary_and_dump.R
  RcppTskit/tests/testthat/test_misc.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Improved docs Fixes #92 #106
  README.md
  RcppTskit/vignettes/RcppTskit_intro.qmd
Due: air-format, jarl-lint

Added rtsk_individual_table_add_row() and tc.individual_table_add_row() Fixes #120
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/src/tests.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Update README_DEVEL.md to remove clang-tidy
  README_DEVEL.md
Due: none

Robustifying clang-tidy
  .clang-tidy
  README_DEVEL.md
  RcppTskit/notes_pkg_dev.Rmd
  RcppTskit/tools/clang_tidy.py
  RcppTskit/tools/clang_tidy_audit.yaml
Due: air-format, jarl-lint

save work
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Mentioning that we have a number of rtsk_* R/C++ functions but only export some to R users Fixes #125
  RcppTskit/DESCRIPTION
  RcppTskit/R/RcppTskit-package.R
  RcppTskit/inst/WORDLIST
  RcppTskit/man/RcppTskit-package.Rd
  RcppTskit/vignettes/RcppTskit_intro.qmd
Due: air-format, jarl-lint

add site and mutation table rows
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/WORDLIST
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/src/tests.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
Due: air-format, jarl-lint, clang-format, clang-tidy

add function .variants()
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TreeSequence.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TreeSequence.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TreeSequence.R
  RcppTskit/tests/testthat/test_variant_iterator_low_level.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Add tests to improve coverage
  RcppTskit/R/RcppExports.R
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TreeSequence.R
  RcppTskit/tests/testthat/test_variant_iterator_low_level.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Add tests to improve coverage
  RcppTskit/tests/testthat/test_variant_iterator_low_level.R
Due: air-format, jarl-lint

Add get_samples(), node_table_get_row() and table_collection_sort()
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/Class-TreeSequence.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/man/TreeSequence.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/tests/testthat/test_TreeSequence.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Polish docs from PR #126
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Ignoring jarl warnings for internal functions in docs
  RcppTskit/vignettes/RcppTskit_intro.qmd
Due: air-format, jarl-lint

Consolidate add_row methods and other polish
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/src/tests.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/vignettes/RcppTskit_intro.qmd
Due: air-format, jarl-lint, clang-format, clang-tidy

Add variants, table row helpers, and related tests
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/Class-TreeSequence.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/man/TreeSequence.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/tests/testthat/test_TreeSequence.R
  RcppTskit/tests/testthat/test_variant_iterator_low_level.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Review/comments on TableCollection sort()
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/src/RcppTskit.cpp
Due: air-format, jarl-lint, clang-format, clang-tidy

Only effective use of const and polish ts
  RcppTskit/R/Class-TreeSequence.R
  RcppTskit/inst/examples/create_test.trees.py
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/tests/testthat/test_TreeSequence.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Polishing terminology and code
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/RcppExports.R
  RcppTskit/R/RcppTskit.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Unit test for content of node_table_get_row
  RcppTskit/inst/examples/create_test.trees.py
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
Due: air-format, jarl-lint, clang-format, clang-tidy

make TableCollection() aligned with Python version
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
Due: air-format, jarl-lint, clang-format, clang-tidy

add tests
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/tests/testthat/test_misc.R
  RcppTskit/tests/testthat/test_variant_iterator_low_level.R
Due: air-format, jarl-lint

add add_row() functions for population migration provenance table
  RcppTskit/NEWS.md
  RcppTskit/R/Class-TableCollection.R
  RcppTskit/R/RcppExports.R
  RcppTskit/inst/include/RcppTskit_public.hpp
  RcppTskit/man/TableCollection.Rd
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/RcppTskit.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
Due: air-format, jarl-lint, clang-format, clang-tidy

add relaxed validator validate_integer_numeric_scalar_arg to allow use of both 1 and 1L
  RcppTskit/R/RcppExports.R
  RcppTskit/R/RcppTskit.R
  RcppTskit/src/RcppExports.cpp
  RcppTskit/src/tests.cpp
  RcppTskit/tests/testthat/test_TableCollection.R
  RcppTskit/tests/testthat/test_misc.R
Due: air-format, jarl-lint, clang-format, clang-tidy

Path conditions:
  air-format: any of: \.(R|Rmd|rmd|qmd|Qmd)$, but not: (?x)^(
  extern/
  | RcppTskit/inst/include/tskit/
  | RcppTskit/src/tskit/
  | RcppTskit/R/RcppExports\.R
  | RcppTskit/src/RcppExports\.cpp
)

  jarl-lint: any of: \.(R|Rmd|rmd|qmd|Qmd)$, but not: (?x)^(
  extern/
  | RcppTskit/inst/include/tskit/
  | RcppTskit/src/tskit/
  | RcppTskit/R/RcppExports\.R
  | RcppTskit/src/RcppExports\.cpp
)

  clang-format: any of: \.(c|cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  extern/
  | RcppTskit/inst/include/tskit/
  | RcppTskit/src/tskit/
  | RcppTskit/R/RcppExports\.R
  | RcppTskit/src/RcppExports\.cpp
)

  clang-tidy: any of: \.(c|cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  extern/
  | RcppTskit/inst/include/tskit/
  | RcppTskit/src/tskit/
  | RcppTskit/R/RcppExports\.R
  | RcppTskit/src/RcppExports\.cpp
)

